body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("./clock.jpg");
  background-size: cover;
  background-position: center;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 8px solid #fffefe;
  border-radius: 50%;
}

.hand {
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: #11e52d;
  top: 50%;
  left: 30%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.4, 2.5, 0.3, 1);
}

.hour-hand {
  background-color: #fffefe;
}

.minute-hand {
  background-color: #fffefe;
}
